{% extends 'enlaces.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>ONG</b>system</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Ingresa tus datos para iniciar sesi칩n</p>

    {% if error %}
<!--        <span class="help-block">{{ error.messageKey|trans(error.messageData, 'security') }}</span>-->
      <div class="callout callout-warning">
                <h4>Usuario o contrase침a invalidos</h4>

                <p>Porfavor revisa tu usuario o contrase침a ingresados y vuelve a intentarlo.</p>
      </div>
    {% endif %}

      
   <form action="{{ path('login') }}" method="post">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="Usuario"/>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" id="password" name="_password" placeholder="Contrase침a"/>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>         
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div>
        </div> 
    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}          
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Log In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

<!-- redes sociales para dsps
    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
    </div>
-->
    <!-- /.social-auth-links -->

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->


</body>
{% endblock %}


