<form method="post" action="{{ path('osc_delete', {'id': osc.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ osc.id) }}">
    <button style="margin-top: -78px; margin-left: 138px;" class="btn btn-primary">Delete</button>
</form>
