<!DOCTYPE html>

<title>New Beneficiarios</title>

{% block body %}
    <h1>Create new Beneficiarios</h1>

    {{ include('beneficiarios/_form.html.twig') }}

    <a href="{{ path('beneficiarios_index') }}">back to list</a>
{% endblock %}
